@font-face {
    font-family:digital;
    src: url(digital-7.ttf);
  }


#main{
    height: 584px;
    width: 360px;
    border: 10px solid wheat;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 0 10px black;
    font-family:digital;
    
}


#screen{
    
    width:360px;
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

#display-up,#display-low{
 line-height: 60px;
 border:none;
 background-color: #C9D7CD;
}





#keypad{
    display:flex;
    flex-wrap: wrap;

}

.btn{
    width: 90px;
    height: 90px;
    font-size: 30px;
    display:flex;
    justify-content: start;
    align-items: end;
}



#zero-btn ,#clear-btn{
    width: 180px; 
}

.orange{
    background-color: rgb(255, 166, 0);
}

.black{
    background-color: grey;
    color: white;
}